{% extends 'base.html.twig' %}

{% block content %}
    <div class="container-fluid h-100 home">
        <a href="{{ path('cars') }}" class="btn btn-lg btn-outline-primary text-light my-auto">Voir nos voitures</a>
    </div>
{% endblock %}
